<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
        <h1>Contacts</h1>
        {{#if contacts}}
        <form method="POST" action="/contacts/edit/{{contacts.0.nickname}}">
          <select class="form-control" name="contacts" onchange="$('form').attr('action', $('select').val())">
          {{#each contacts}}
            <option value="/contacts/edit/{{this.nickname}}">{{this.nickname}}</option>
          {{/each}}
          </select>
          <p><a class="btn btn-primary" href="/contacts/add" role="button">Add Contact</a></p>
          <button type="submit" class="btn btn-warning">Edit Contact</button>
          <!-- <p><a class="btn btn-danger" id="delete" href="/contacts/delete/{{contacts.0.nickname}}" role="button">Delete Payee</a></p> -->
        </form>
        {{else}}
          <p>Would you like to add your first contact?</p>
          <p><a class="btn btn-primary" href="/contacts/add" role="button">Add Contact</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</div>