<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
      </div>
      <div class="col-lg-9">
        <h2>Confirm amount to send and that receiver details are correct</h2>
        <form method="POST" action="/send/payment">
        <div class="well">
          <h4>You would like to send <b>${{transaction.amount}}</b> to <b>{{transaction.receiver}}</b>.</h4>
          <h4><b>{{transaction.receiver}}</b> will receive your transfer via <b>{{transaction.delivery_method}}</b> which will cost <b>${{transaction.handling_fee}}</b></h4>
          <h4>Additionally, the current exchange rate is <b>{{transaction.exchange_rate}}</b> which means <b>${{transaction.amount}}</b> NZD is worth <b>${{transaction.conversion_amount}}</b> WST</h4>
          <h2>Total: ${{transaction.total}}</h2>
          <br/>
          <p><input type="checkbox" required> I agree to the following fees</p>
          <p><input type="checkbox" required> I have read and accept the terms of transfer</p>
        </div>
        <button type="submit" id="submit" class="btn btn-danger">Send {{$transaction.total}}</button>
      </div>
    </div>
  </div>
</div>
