<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
      </div>
      <div class="col-lg-9">
        <h2>Transaction complete</h2>
          <div class="well">
            <p><b>Transaction ID</b>: {{transaction.id}}</p>
            <p><b>Transaction Time</b>: {{time}}</p>
            <p><b>Receiver</b>: {{transaction.receiver}}</p>
            <p><b>Delivery Method</b>: {{transaction.delivery_method}} @ ${{transaction.handling_fee}} NZD</p>
            <p><b>Send Amount</b>: ${{transaction.amount}} NZD @ {{transaction.exchange_rate}} = ${{transaction.conversion_amount}} WST</p>
            <p><b>Total</b>: ${{transaction.total}} NZD</p>
          </div>
          <br>
          <br>
          <a class="btn btn-danger" href="/dashboard">Head back to the Dashboard</a>
        </form>
      </div>
    </div>
  </div>
</div>