<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
      </div>
      <div class="col-lg-9">
        <h2>Transaction complete</h2>
          <div class="well">
            <p>Transaction ID: {{transaction.id}}</p>
            <p>Transaction Time: {{transaction.time}}</p>
            <p>Receiver: {{transaction.receiver}}</p>
            <p>Delivery Method: {{transaction.delivery_method}}: {{transaction.handling_fee}} NZD</p>
            <p>Send Amount: {{transaction.amount}} NZD</p>
            <p>Exchange rate: {{transaction.exchange_rate}}</p>
            <p>Conversion Amount: {{transaction.amount}} NZD @ {{transaction.exchange_rate}}: ${{transaction.conversion_amount}} WST</p>
            <p>Total: {{transaction.total}} NZD</p>
          </div>
          <br>
          <br>
          <a class="btn btn-danger" href="/dashboard">Head back to the Dashboard</a>
        </form>
      </div>
    </div>
  </div>
</div>