<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>User Details</h1>
        <p>Name: {{user.first_name}} {{user.middle_name}} {{user.last_name}}</p>
        <p>Phone: {{user.contact_number}}</p>
        <p>Email: {{user.email}}</p>
        <p>Address: {{user.street}} {{user.suburb}} {{user.city}} {{user.postcode}}</p>
        <p>Date of Birth: {{user.dateofbirth}}</p>
        <p>License: {{user.driverslicensenumber}} Ver: {{user.driverslicenseversion}} Reg: {{user.vehicleregistration}}</p>
        <p>Passport: {{user.passportnumber}} {{passportexpiry}}</p>
        <p>Join Date: {{user.join_date}}</p>
      </div>
    </div>
  </div>
</div>